In [917]:
!pip install openpyx1
!pip install xlrd

ERROR: Could not find a version that satisfies the requirement openpyx1 (from versions: none)
ERROR: No matching distribution found for openpyx1

Requirement already satisfied: xlrd in c:\users\aican\anaconda3\lib\site-packages (2.0.1)

In [918]:
import pandas as pd
df = pd.read_excel(r"https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")

In [919]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [920]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-03-26 00:00:00,2025.0,Unprovoked,Australia,WA,Sandtrax Port Beach North Fremantle Perth,Swimming,Unknown Male,M,30+,...,1.5m Tiger shark,Kevin McMurray Trackingsharks.com: www.surfer....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,WA,Duke of Orleans Bay,Surfing,Steven Jeffrey Payne,M,37,...,Great White Shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-03-07 00:00:00,2025.0,Unprovoked,Australia,NSW,Gunyah beach Bundeena Port Hacking,Swimming,Mangyong Zhang,F,56,...,Bull shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-02-27 00:00:00,2025.0,Unprovoked,Australia,Victoria,Nuns Beach near Portland,Swimming,Robbie Houlihan,M,40+,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27-Feb-25,2025.0,Questionable,Philippines,Batangas Resort,Verde Island,SCUBA Diving,Illia Peregudin,M,29,...,Not stated,Stephen Parkhill Glen Folkard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7006,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7007,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7008,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [921]:
# Null values
df.isnull().any()

Date              False
Year               True
Type               True
Country            True
State              True
Location           True
Activity           True
Name               True
Sex                True
Age                True
Injury             True
Fatal Y/N          True
Time               True
Species            True
Source             True
pdf                True
href formula       True
href               True
Case Number        True
Case Number.1      True
original order     True
Unnamed: 21        True
Unnamed: 22        True
dtype: bool

In [922]:
# Null values
# 1. Remove colums we don't need and keep only 5 columns
# 2. Remove rows where all values are null.
# 3. THRESHOLD TO DECIDE. Remove all rows in which there is at least 1 null value.

In [923]:
df_columns = df.drop(['Year', 'State', 'Location', 'Activity', 'Name', 'Age', 'Injury', 
         'Fatal Y/N', 'Time', 'Source', 'pdf', 'href formula', 
         'href', 'Case Number', 'Case Number.1', 'original order', 
         'Unnamed: 21', 'Unnamed: 22'], axis=1, inplace=True)

df

,Date,Type,Country,Sex,Species
0,2025-03-26 00:00:00,Unprovoked,Australia,M,1.5m Tiger shark
1,2025-03-10 00:00:00,Unprovoked,Australia,M,Great White Shark
2,2025-03-07 00:00:00,Unprovoked,Australia,F,Bull shark
3,2025-02-27 00:00:00,Unprovoked,Australia,M,Not stated
4,27-Feb-25,Questionable,Philippines,M,Not stated
...,...,...,...,...,...
7004,Before 1903,Unprovoked,AUSTRALIA,M,NaN
7005,Before 1903,Unprovoked,AUSTRALIA,M,NaN
7006,1900-1905,Unprovoked,USA,M,NaN
7007,1883-1889,Unprovoked,PANAMA,M,NaN
7008,1845-1853,Unprovoked,CEYLON (SRI LANKA),M,NaN

In [924]:
# 2. Remove rows where all values are null.
# 3. Remove all rows in which there is at least 1 null value. No threshold.
df.dropna()

,Date,Type,Country,Sex,Species
0,2025-03-26 00:00:00,Unprovoked,Australia,M,1.5m Tiger shark
1,2025-03-10 00:00:00,Unprovoked,Australia,M,Great White Shark
2,2025-03-07 00:00:00,Unprovoked,Australia,F,Bull shark
3,2025-02-27 00:00:00,Unprovoked,Australia,M,Not stated
4,27-Feb-25,Questionable,Philippines,M,Not stated
...,...,...,...,...,...
6983,Early 1930s,Unprovoked,BELIZE,M,12' tiger shark
7000,Before 1906,Unprovoked,AUSTRALIA,M,Blue pointer
7001,Before 1906,Unprovoked,AUSTRALIA,M,Blue pointer
7002,Before 1906,Unprovoked,AUSTRALIA,M,Blue pointers
7003,Before 1906,Unprovoked,AUSTRALIA,M,Said to involve a grey nurse shark that leapt ...

In [925]:
# dropna() removes rows where any value is NaN (null). We have now 0 null values.

In [926]:
### Manipulating strings with RegEx.

In [927]:
# =========================
# Convert 'Date' Columns to Datetime Format
# =========================

# Convert the 'Date' column in the stock dataset to datetime format
# 'errors="coerce"' will handle invalid parsing by converting them to NaT (Not a Time)
df['Date'] = pd.to_datetime(df['Date'], errors='coerce').dt.date

In [928]:
df

            Date          Type             Country Sex           Species
0     2025-03-26    Unprovoked           Australia   M   1.5m Tiger shark
1     2025-03-10    Unprovoked           Australia   M  Great White Shark
2     2025-03-07    Unprovoked           Australia  F          Bull shark
3     2025-02-27    Unprovoked           Australia   M         Not stated
4     2025-02-27  Questionable         Philippines   M        Not stated
...          ...           ...                 ...  ..                ...
7004         NaT    Unprovoked           AUSTRALIA   M                NaN
7005         NaT    Unprovoked           AUSTRALIA   M                NaN
7006         NaT    Unprovoked                 USA   M                NaN
7007         NaT    Unprovoked              PANAMA   M                NaN
7008         NaT    Unprovoked  CEYLON (SRI LANKA)   M                NaN

[7009 rows x 5 columns]

In [929]:
df.dropna()

,Date,Type,Country,Sex,Species
0,2025-03-26,Unprovoked,Australia,M,1.5m Tiger shark
1,2025-03-10,Unprovoked,Australia,M,Great White Shark
2,2025-03-07,Unprovoked,Australia,F,Bull shark
3,2025-02-27,Unprovoked,Australia,M,Not stated
4,2025-02-27,Questionable,Philippines,M,Not stated
...,...,...,...,...,...
6817,1812-05-01,Unprovoked,ENGLAND,M,Thought to involve a porbeagle or mako shark
6825,1805-09-01,Invalid,USA,M,Shark involvement prior to death unconfirmed
6846,1767-01-01,Invalid,FRANCE,M,Description of shark does not ring true
6848,1970-01-01,Unprovoked,MEDITERRANEAN SEA,M,"""The fish was harpooned, dried, and presented ..."
6858,1721-06-01,Unprovoked,ITALY,M,"White shark, 1600-lb female"

In [930]:
df.columns

Index(['Date', 'Type', 'Country', 'Sex', 'Species '], dtype='object')

In [931]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009 entries, 0 to 7008
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      6134 non-null   object
 1   Type      6991 non-null   object
 2   Country   6959 non-null   object
 3   Sex       6430 non-null   object
 4   Species   3877 non-null   object
dtypes: object(5)
memory usage: 273.9+ KB

In [932]:
df.rename(columns= {'Species ': 'Species'}, inplace=True)
print(df.columns)

Index(['Date', 'Type', 'Country', 'Sex', 'Species'], dtype='object')

In [933]:
unique_species = df["Species"].unique()
print(unique_species)

['1.5m Tiger shark' 'Great White Shark' 'Bull shark' ... "12' tiger shark"
 'Blue pointers'
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable']

In [934]:
df["Species"] = df["Species"].apply(lambda x:x.lower() if type(x) == str else x)

In [935]:
df

            Date          Type             Country Sex            Species
0     2025-03-26    Unprovoked           Australia   M   1.5m tiger shark
1     2025-03-10    Unprovoked           Australia   M  great white shark
2     2025-03-07    Unprovoked           Australia  F          bull shark
3     2025-02-27    Unprovoked           Australia   M         not stated
4     2025-02-27  Questionable         Philippines   M        not stated
...          ...           ...                 ...  ..                ...
7004         NaT    Unprovoked           AUSTRALIA   M                NaN
7005         NaT    Unprovoked           AUSTRALIA   M                NaN
7006         NaT    Unprovoked                 USA   M                NaN
7007         NaT    Unprovoked              PANAMA   M                NaN
7008         NaT    Unprovoked  CEYLON (SRI LANKA)   M                NaN

[7009 rows x 5 columns]

In [936]:
def change_bull(x):
    if type(x) == str and "bull" in x.lower():
        return "bull shark"
    else:
        return x

In [937]:
df["Species"] = df["Species"].apply(change_bull)

In [938]:
def change_blacktip(x):
    if type(x) == str and "blacktip" in x.lower():
        return "blacktip shark"
    else:
        return x

In [939]:
df["Species"] = df["Species"].apply(change_blacktip)

In [940]:
def change_bronze_into_copper(x):
    if type(x) == str and "bronze" in x.lower():
        return "copper shark"
    else:
        return x

In [941]:
df["Species"] = df["Species"].apply(change_bronze_into_copper)

In [942]:
def change_copper(x):
    if type(x) == str and "copper" in x.lower():
        return "copper shark"
    else:
        return x

In [943]:
df["Species"] = df["Species"].apply(change_copper)

In [944]:
def change_white(x):
    if type(x) == str and "white" in x.lower():
        return "white shark"
    else:
        return x

In [945]:
df["Species"] = df["Species"].apply(change_white)

In [946]:
def change_caribbean_reef(x):
    if type(x) == str and "caribbean" in x.lower():
        return "caribbean reef shark"
    else:
        return x

In [947]:
df["Species"] = df["Species"].apply(change_caribbean_reef)

In [948]:
def change_galapagos(x):
    if type(x) == str and "galapagos" in x.lower():
        return "galapagos shark"
    else:
        return x

In [949]:
df["Species"] = df["Species"].apply(change_galapagos)

In [950]:
def change_lemon(x):
    if type(x) == str and "lemon" in x.lower():
        return "lemon shark"
    else:
        return x

In [951]:
df["Species"] = df["Species"].apply(change_lemon)

In [952]:
def change_mako(x):
    if type(x) == str and "mako" in x.lower():
        return "mako shark"
    else:
        return x

In [953]:
df["Species"] = df["Species"].apply(change_mako)

In [954]:
def change_nurse(x):
    if type(x) == str and "nurse" in x.lower():
        return "nurse shark"
    else:
        return x

In [955]:
df["Species"] = df["Species"].apply(change_nurse)

In [956]:
def change_oceanic_whitetip(x):
    if type(x) == str and "oceanic whitetip" in x.lower():
        return "oceanic whitetip shark"
    else:
        return x

In [957]:
df["Species"] = df["Species"].apply(change_oceanic_whitetip)

In [958]:
def change_whitetip_reef(x):
    if type(x) == str and "whitetip reef" in x.lower():
        return "whitetip reef shark"
    else:
        return x

In [959]:
df["Species"] = df["Species"].apply(change_whitetip_reef)

In [960]:
def change_raggedtooth(x):
    if type(x) == str and "raggedtooth" in x.lower():
        return "raggedtooth shark (sand tiger shark)"
    else:
        return x

In [961]:
df["Species"] = df["Species"].apply(change_raggedtooth)

In [962]:
def change_sand_tiger(x):
    if type(x) == str and "sand tiger" in x.lower():
        return "raggedtooth shark (sand tiger shark)"
    else:
        return x

In [963]:
df["Species"] = df["Species"].apply(change_sand_tiger)

In [964]:
def change_sandbar(x):
    if type(x) == str and "sandbar" in x.lower():
        return "sandbar shark"
    else:
        return x

In [965]:
df["Species"] = df["Species"].apply(change_sandbar)

In [966]:
def change_broadnose(x):
    if type(x) == str and "broadnose" in x.lower():
        return "broadnose sevengill shark"
    else:
        return x

In [967]:
df["Species"] = df["Species"].apply(change_broadnose)

In [968]:
def change_sevengill(x):
    if type(x) == str and "sevengill" in x.lower():
        return "broadnose sevengill shark"
    else:
        return x

In [969]:
df["Species"] = df["Species"].apply(change_sevengill)

In [970]:
def change_7gill(x):
    if type(x) == str and "7-gill" in x.lower():
        return "broadnose sevengill shark"
    else:
        return x

In [971]:
df["Species"] = df["Species"].apply(change_7gill)

In [972]:
def change_tiger(x):
    if type(x) == str and "tiger" in x.lower():
        return "tiger shark"
    else:
        return x

In [973]:
df["Species"] = df["Species"].apply(change_tiger)

In [974]:
def change_hammerhead(x):
    if type(x) == str and "hammerhead" in x.lower():
        return "hammerhead shark"
    else:
        return x

In [975]:
df["Species"] = df["Species"].apply(change_hammerhead)

In [976]:
def change_spinner(x):
    if type(x) == str and "spinner" in x.lower():
        return "spinner shark"
    else:
        return x

In [977]:
df["Species"] = df["Species"].apply(change_spinner)

In [978]:
def change_thresher(x):
    if type(x) == str and "thresher" in x.lower():
        return "thresher shark"
    else:
        return x

In [979]:
df["Species"] = df["Species"].apply(change_thresher)

In [980]:
def change_blue(x):
    if type(x) == str and "blue" in x.lower():
        return "blue shark"
    else:
        return x

In [981]:
df["Species"] = df["Species"].apply(change_blue)

In [982]:
len(df["Species"].unique())

634

In [983]:
df["Species"].unique()

array(['tiger shark', 'white shark', 'bull shark', 'not stated',
       'not stated ', 'mako shark', 'copper shark',
       'described as a large terrifying animal', 'unknown', 'unknown ',
       '1m shark species unknown', 'reef shark 6ft (1.8m)',
       'undetermined small shall shark', 'blacktip shark',
       'not specified', '6 ft shark', '6ft shark', 'large shark',
       '2.5m shark', 'sandbar shark', 'carribean reef shark 7ft',
       "3' to 4' shark", nan, 'broze whaler?',
       'broadnose sevengill shark', 'shark involment not confirmed',
       'lemon shark', 'nurse shark', 'galapagos shark',
       'cookiecutter sharks', 'blue shark', 'wfite shark',
       'wobbegong shark', "8' shark", "4' shark", "3' shark",
       'caribbean reef shark', 'grey reef shark, 2 m',
       'shark involvement not confirmes', '18" - 23" horn shark',
       '1m shark', 'authorities report injury caused bya barracuda',
       '5m to 6m shark', 'a small shark', "5'shark", '3m shark', 'bu.ll',
       "6' shark", 'shark involvement not confirmed', '"a small shark"',
       "9' shark", 'while shark', "5' shark", 'epaulette shark',
       'dogfish', 'no shark invovlement ', 'spinner shark',
       "2' to 3' shark", "7' to 8' shark ", "tope shark, 6'",
       '8 ft shark', '5.5 ft shark', '1.3m shark', "3' to 5' shark", '  ',
       'juvenile shark', ' ', '8" shark', '"reef shark"', '4m shark',
       'injuries not caused by a shark', "4' to 5' shark",
       "reef shark, 5' to 6 '", '2 m shark',
       'shark involvement unconfirmed but considered probable',
       'angel shark', "5' to 6' shark",
       'shovelnose "shark" which is a ray, not a shark)', "7' shark",
       '1+ m shark', "6' to 7' shark", "2' shark", "6.5' shark",
       'grey reef shark 1.5m', "10' to 12' shark", 'cookiecutter shark',
       'shark pup', "12' shark", "grey reef shark, 4' ", '2.5 m shark',
       'reef shark, ',
       'reported as shark bite but injury caused by stingray',
       'reported as shark attacks but injuries caused by toadfish',
       'reef shark x 2', "5' to 8' shark", 'reef shark',
       'salmon shark, juvenile',
       'injury most likely caused by barracuda, not a shark',
       'grey reef shark', 'invalid incident', 'questionable', '3 m shark',
       '3.5 m shark', '1.8 m shark', 'possibly a wobbegong',
       'injury believed caused by an eel, not a shark', '2m shark',
       'grey reef shark. 2 m', 'small shark', 'wobbegong shark?',
       'wobbegong shark, 1 m', 'porbeagle, 1.5 m',
       'shark involvement questionable',
       'shark involvement prior to death not confirmed',
       'seven-gill shark', '3m shark, probably a smooth hound',
       'shark involvement highly doubtful',
       'no shark invovlement - it ws a publicity stunt', "10' shark",
       'wobbegong shark, 2m', " 6' to 8' shark", 'invalid',
       'reef shark, 1m', 'dogfish shark',
       "said to involve an 8' shark but more likely damage caused by debris",
       '3+ m shark', 'no shark involvement', "reef shark, 5'",
       "silky shark, 6.5'", 'hammerhead shark', "4' shark?",
       "thought to involve a 3' to 4' shark, but shark involvement not confirmed",
       'shark involvement not cofirmed', '1m to 1.2 m shark',
       '3- to 4-foot shark', '3.5 to 4 m shark', '2 m to  3 m shark',
       '5 m shark', '1.5 m shark',
       'shark involvement prior to death still to be determined',
       'shark involvement not confirmed & highly unlikely',
       'goblin shark', '1 m shark', "8' to 10' shark", "4' to 6' shark",
       "4' tp 5' shark", '1.8 metre shark', "6' to 8' shark", 'cow shark',
       'reef shark?', ' wobbegong shark, 1.6 to 1.8m ', 'salmon shark',
       'wobbegong, 2m', '"small sharks"', "3.5' to 4' shark",
       "porbeagle shark, 7'", '4.5 m shark',
       'salmon shark suspected, but unlikely', "14' to 18'shark",
       "15' shark", 'a small reef shark', '18" to 24" shark',
       'port jackson shark, 1m', '2 to 2.5 m shark', '4 m shark',
       'grey reef shark ', 'zambesi shark', 'reef shark, 1.5m',
       "1' to 2' shark", '3 m to 4 m shark', "porbeagle shark, 8' ",
       'shark involvement prior to death was not confirmed',
       '20 to 30kg shark', "14' shark", 'wobbegong shark, 1.6m',
       '2 m to 3 m shark', 'zambesi shark, 2m ', 'thresher shark',
       'spurdog', 'shark involvement probable, but not confirmed',
       '80 kg shark', 'thought to involve a cookiecutter shark',
       'wobbegong shark, 60cm', '2.6 m shark', 'dusky shark, 2m',
       'zambesi shark?', ' reef shark, 1.8m', "+3' shark",
       "2' to 3' juvenile shark", "3'  shark", "2'  shark",
       "2' to 3' reef shark", 'starry smoothhound shark, 1m',
       "4.5 to 5' shark", 'basking shark',
       'reported by media as shark attack, but shark involvement prior to death was not confirmed',
       'shark involvement not confirmed; thought to be a barracuda bite',
       "1.5' to 2' shark", "2.5' shark", "goblin shark, 4.2'",
       'not a shark attack; it was a hoax', '2.27 m shark',
       '1.5 to 2 m shark', 'gray reef shark', "9.5' shark?", 'sand shark',
       "3' small spotted catshark, scyliorhinus canicula",
       'questionable incident',
       'lesser spotted dogfish, scyliorhinus canicula, less than 80 cm in length',
       '2.4 m shark', '24" to 30" shark', 'silvertip shark',
       '2.5 to 3 m shark', '2 to 3 m shark', "1' to 4' shark",
       "3' to 3.5' shark", 'small catsharks', 'angel shark, 1.2m ',
       "grey reef shark, 5' to 8' ", 'wobbegong shark, 2 m ',
       '3 m, 600-kg shark', "5' to 7' shark", "12' to 18' shark",
       'said to involve a 1.5 m shark',
       "2 m [6.75'] shark, 200-kg shark t", "1.8 m [6'] shark",
       "3.5 m [11.5']shark", "[4.5' to 5'] shark", "[4' to 5']",
       'on 8/13/2005 anglers from new zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. it was believed this was the same shark that killed alysha',
       'unknown, but it was reported that a shark tooth was recovered from the wound',
       '"small shark"', '18" to 36" shark', "4 m [13'] shark",
       "3 m [10'] shark", "2.4 m [8'] shark", "1.2 m [4'] shark",
       "1.2 m to 1.5 m [4' to 5'] shark", '2 sharks, 4.5 m & 3 m ',
       '"black tipped" shark', "0.9 m to 1.5 m [3' to 5'] shark",
       "2.4 m to 3.7 m [8' to 12'] shark",
       "wobbegong shark, 1.2 m [4'] k", 'small sharks',
       '60 cm [23.6"] blind or brown shark', 'shark involvement doubtful',
       "wobbegong shark, 1.2 m [4'] ", '1.2 m [4\'] "grey-colored shark"',
       '2 m cow shark', 'unidentified species',
       "1.5 m to 1.8 m [5' to 6'] shark", "106 cm [3.5']  shark",
       '“small brown shark”', "3.7 m to 4.3 m [12' to 14'] shark",
       '"sand shark"',
       "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
       "0.9 m to 1.2 m [3' to 4'] shark", 'a “small” shark',
       '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
       "60 cm [2'] captive shark", 'species unidentified',
       'wobbegong shark, 1m',
       'shark involvement not confirmed, injury may be due to a stingray',
       "2.4 m to 3 m [8' to 10'] grey colored shark",
       "3.5' to 4.5' shark", "3 m to 3.7 m [10' to 12'] shark",
       "0.9 m  to 1.2 m [3' to 4'] shark",
       "0.9 m to 1.2 m [3' to 4'] shark; tooth fragment recovered from hand",
       '\xa0 ', '1 m  shark', "2.1 m to 2.4 m [7' to 8'] shark",
       "0.9 m [3'] shark", 'shark involvement prior to death unconfired',
       '1.5 m [5\'] "whaler shark"',
       'c. leucas tooth fragment recovered from kayak', 'unidentified',
       'questionable incident - shark bite may have precipitated drowning',
       "2' to 3.5' shark", "1.5 m [5'] shark", "0.9 m  [3'] shark",
       "1.2 m to 1.5 m [4.5' to 5'] shark", "2 m [6.75'] shark",
       '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
       "6 m [20'] shark", "porbeagle shark, 3 m [10']rk",
       "1.2 m to 1.8 m [4' to 6'] shark", "2.1 to 2.4 m [7' to 8'] shark",
       "60 cm to 90 cm [2' to 3'] shark",
       'thought to involve a zambesi shark',
       "a 2' shark was seen in the area by witnesses",
       'shark involvement  not confirmed',
       "1.8 m [6'] grey-colored shark", "grey reef shark, 2 m [6.75'] ",
       "2 m to 2.5 m [6.75'  to 8.25'] shark",
       'shark involvement  questionable', '1.3 to 1.6 m shark',
       "grey reef shark, 1.2 m [4'] ", 'grey reef shark, 1.5 m ',
       '200 to 300 kg shark',
       "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
       'a "small shark"', "dusky shark, 12' ", "4.5' to 5' shark",
       '1.7 m shark', 'small dusky shark or blackfin shark',
       'shark involvement prior to death suspected but not confirmed',
       'soupfin shark', '"juvenile shark"', 'possibly a sand shark',
       "1.8 m to 2.1 m [6' to 7'] shark", '"a young shark"',
       "1.2 m to 1.5 m [4' to 5']   shark",
       "1.5 to 1.8 m [5' to 6'] shark", '"sand" shark',
       "two 1.2 m to 1.5 m [4' to 5'] sharks", "3.7 m [12'] shark",
       'leopard shark', "2.7 m [9'] shark",
       'thought to involve a small sand shark', "2.1 m [7'] shark",
       ">1.8 m [6'] shark", '1.3 m [4\'3"] shark',
       "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ",
       'unidentified shark', '>2 m shark', "5 m [16.5'] shark",
       '1.8 m grey shark', "zambesi shark, 1.7 m [5.5'] ",
       "3 m [10'], 270- kg [595-lb] shark",
       "2.1 m [7'], 140-lb reef shark", 'shark involvement unconfirmed',
       '170-kg, 2.8 m shark', "7' female shark",
       '"shark had a very large girth"', "1.8 m [6'] shark ",
       "1.8 m to 2.4 m [6' to 8'] shark",
       'shark involvement prior to death could not be determined',
       '6 m, 600-kg shark',
       "two sharks seen in vicinity: 2.4 m & 4.25 m  [8' & 14'] tl",
       'shark involvement suspected but not confirmed', '150-lb shark',
       "3 m [10'] gaffed shark", "7' silvertip shark",
       '2 m to 2.5 m shark', 'sand shark?',
       "1.5 m to 2 m [5' to 6.75'] shark", '1 m "grey-colored" shark',
       'zambezi shark (tooth fragments recovered)', '6 m shark',
       '40 to 50 sharks attacked survivors in the water', '4.3 m shark',
       'doubtful / unconfirmed attack / unable to verify in local records',
       '1.6 m shark', "1.2 m [4'] dusky shark", '>1 m shark',
       "6', 100-lb shark", '1.8 m silky shark', '30-kg [66-lb] shark',
       "1.5 m [5'] dusky shark",
       'shark involvement not confirmed; officials considered barracua',
       "2.5 m [8.25'] shark", " 1.5 m [5'] dusky shark", '.5 m shark',
       "4.5' shark", "3 m to 4 m [10' to 13'] shark",
       "1.8 m [6'] zambezi shark",
       'questionable incident; reported as shark attack but thought to involve a pinniped instead ',
       'reported as a shark attack, the story was a hoax',
       '1.2 m to 1.5 m [4\' to 5\'] "reef shark"',
       '2.1 m [7\'] shark with "a very flat head” that had followed the boat for 3 days',
       "1.8 m [6'] shark, species identity questionable",
       'shark involvement prior to death remains unconfirmed',
       '"sandshark"', "possibly a  1.8 m [6'] zambezi shark",
       '"gray shark"', 'c. maculpinnis or c. limbatus',
       "3.5 m [11.5'] shark", "4' to 8' shark", '2.2 m shark',
       '2 m [6\'9"] zambesi shark', "1.8 m [6'] dogfish",
       '2 m [6\'9"] shark', '270 kg shark',
       "1.5 to 2 m [5' to 6.75'] shark", "2.7 m  [9'] shark",
       "12' to 14' shark", 'whale shark', 'juvenile dusky shark',
       "2.4 m [8'] whaler shark", "1.5 m [5']  shark",
       "carpet shark, 10' ", "small sharks'", "3.7 m [12'] sharks",
       "1.2 m to 1.8 m [4' to 6'] shark observed in area",
       '1.5 m grey reef shark', "1.8 m [6'] grey reef shark",
       '1.5 m to 2 m shark', '3.6 m  porbeagle shark',
       '1.8 to 2 m c. albimarginatus', '"dog shark"', "7.5' shark",
       'wobbegong shark ', 'carpet shark', ">2.4 m [8'] shark",
       'considered a "doubtful" incident', '90-kg "blackfin" shark',
       "4m [13'] shark", 'not authenticated', "2.7 m [9'] silky shark",
       "1.5 m to 1.8m [5' to 6'] shark", 'a pack of 6 sharks',
       "1.5 m to 2.1 m  [5' to 7'] shark", "wobbegong shark, 5' ",
       "1.5 m to 1.8 m [5' to 6'] zambesi shark",
       "76 cm [2.5'] carpet shark", '1.8 m to 2 m [6\' to 6\'9"] shark',
       "1.8 m [6'] carpet shark", "4.6 m [15'] shark",
       "1.8 m [6'], 180-lb shark", '2 sharks involved',
       '300-kg [662-lb] shark', "1.8 m [6'], 136-kg [300-lb] shark ",
       "4.9 m [16'] whaler", "1.8 to 2.4 m [6' to 8'] shark",
       "less than 1.2 m [4']", "1.7 m [5.5'] shark", 'wobbegong',
       "2.1 m to 2.4 m  [7' to 8'] shark", "zambesi shark, 1.8 m [6'] ",
       "1.8 m [6']  shark", "4.3 m [14'], 1000-lb shark",
       'dusky shark, 1 m ', "wobbegong shark, 3' ",
       '300- to 400-lb zambesi shark', "silky shark, 1.9 m [6.5']",
       'dooley believed his injury was caused by stingray (dasyatidae family)',
       '500-lb shark', "5.5 m [18'] shark", '8 sharks',
       "1.8 m to 2.4 m  [6' to 8'] shark",
       "3.7 to 4.5 m [12' to 15'] shark seen in vicinity", '193-lb shark',
       '<1.5 m shark', 'zambesi shark, 2 m [6\'9"] ',
       '2 m [6\'9"], 87.5-kg [193-lb]  shark',
       '"a long thin brown-colored shark"',
       "horn shar,k heterodontus francisci, 1.2 m [4'] ",
       "4.3 m [14'] shark", "2.7 m to 3 m [9' to 10'] sharks",
       "zambesi shark, 1.2 m [4'] ", "4.9 m [16']shark",
       "1.2 m  [4'] shark", '60 cm  shark ',
       'said to involve a 4.9 m [16\'] "red shark"', '36"  shark',
       "next morning a 3 m [10'] shark was caught that had andrews' leg in its gut",
       "two shark's teeth recovered from canoe",
       "1.5 m to 1.8 m  [5' to 6'] shark", '43" shark', "2.7 m [9']shark",
       'wobbegong shark, 1.4 m [4\'6"] ',
       '2 m  "yellow belly" captive shark. shark destroyed by aquarium staff next day',
       "wobbegong shark, o. barbatus,  1.8 m [6'], identified by g.p. whitley",
       ' "gummy" shark (rhizoprionodon or loxodon) 1.2 m [4\']',
       "wobbegong shark, 1.4 m [4.6'] ",
       "grey reef shark, 1.8 m [6'] grey reef shark, identified by dr. l.p. l. schultz based on photographs; identified as c. melanopterus by stewart",
       'zambesi shark, 4\'9"', '2\' "banjo shark"',
       "wobbegong shark, 1.5 m [5'] ",
       "six zambesi sharks seen to 1.5 m [5'] in length", '> 3 m shark',
       "wobbegong shark, 1.8 m [6'] ", "2.4 m [8'], 600-lb shark",
       '80-lb hooked shark',
       "dusky shark, 2.7 m [9'] dusky shark c. obscurus identified by s. springer on tooth recovered",
       "1.2 m [4'], possibly  larger shark", "two 2.1 m [7'] sharks",
       'according to benjamin, the injury was inflicted by a barracuda, not a shark',
       'shark involvement prior to deaths was not confirmed',
       '3.5 m [11\'6"] shark captured', "4.9 m [16'] shark",
       "3.7 m to 4.6 m [12' to 15'] shark", 'blacktail reef shark',
       "2.4 m  [8'] shark", "2.7 m [9']  shark",
       "3 m to 4.3 m [10' to 14'] shark", "carpet shark, 1.5 m [5']",
       "5.5' shark", '20 kg shark', "1.8 to 2.1 m [6' to 7'] shark",
       "bitten by several 1.8 m [6'] sharks",
       "said to involve 2 sharks: 5.2 m & 6 m [17' & 20'] ",
       "1.4 m [4.5'] shark", "1.5 m to 1.8 m [5' to 6'] sharks",
       '200-lb shark', "sharks averaged 1.8 m [6'] in length",
       '<1 m shark', 'several sharks involved', ">3 m [10'] shark",
       'shark seen feeding on turtle scraps thrown overboard prior to incident.',
       "3.7 m [12'] shark ", 'a sand shark', "wobbegong shark, 4' ",
       "2.3 m [7'] shark", '8-lb shark',
       "3.7 m [12'] shark & may have been another shark nearby",
       '40-lb sand shark', 'tooth fragments recovered from hull',
       "0.7 m [2.5'] sand shark", "2.4 m [8']  shark",
       '"small brown-colored shark"',
       "leopard shark, 3' triakis semifasciata, identified by j.w. dewitt (1955)",
       "4 m [13'] shark x 6", '"a little shark"',
       'reported as  a shark bite but toothmarks appear to be those of a dolphin ',
       "20' shark", '5m shark',
       "2.4 m [8'] shark, possibly a dusky shark", "a small shark'",
       "said to involve a >4 m [13'] shark", "3.7 [12'] shark",
       '80-lb sand shark', "3 m [10'] shark seen in vicinity",
       '2 m [6\'9"] shark ', ">6.7 m [22']  shark", "carpet shark, 5' ",
       '"a 2\' (0.6 m) brown shark"', 'a "small slim brown shark"',
       '"attacked by a number of sharks"', "wobbegong shark, 4'",
       '136-kg [300-lb] shark', "wobbegong shark, 6'", '1,100-lb shark',
       "0.7 m [2.5'] shark", '2.13 m shark',
       "1.5 m to 1.8 m [5' to 6'] “spear-eye” shark ",
       'small carpet shark', 'whtietip reef shark',
       "2.7 m [9'] shark with black-tipped pectoral fins",
       'bonita sharkk, 200-lb',
       "whaler shark, 2.7 m [9'], 350- to 450-lb  identified by g.p. whitley",
       '3.3 m [10\'9"] shark', "said to be 6.4 m [21'] shark",
       '"grey shark"', 'possibly c. leucas', 'most likely, a small shark',
       '1.5 m, 45-kg shark', '4.5  m [14\'9"] shark', '>1.6 m shark',
       "6 m [20']  shark", 'shark involvement prior to death unconfirmed',
       'porbeagle shark', "said to involve a 6.5 m [21.5'] shark",
       '100-lb shark',
       "questionable incident, said to involve a 6' shark",
       "2.6 m [8.5'] shark landed 2 hours later", 'whaler shark',
       "18' shark", '"a large shark"', '"grey-colored shark"',
       "2.6 m [8.5'] shark", "whaler shark, 4 m [13'] ",
       '2 days later a 600-lb shark was caught 100 yards from the site',
       "0.9 m [3']  shark", "shovelnose shark, 6 m [20'] ",
       '650-lb shark', '2 sharks', "4.3 m [14'] shark seen in vicinity",
       "4 m [13'] shark seen in vicinity",
       "4.3 m [14'] shark seen in area previous week", '3 sharks',
       "7' to 8' shark", "4.4 m [14'] shark", "16' 800-lb shark",
       '250-lb "dog shark"', '"a school of sharks"',
       '1.8 m [6\'] "cocktail shark',
       "7 shark's teeth found embedded in the woodwork of the boat",
       '9-foot shark', '"a dog shark"',
       "moreno’s leg  & part of his swim suit found in 9' shark caught two hours after the attack. identified as carcharhinid shark by l. schultz & c. limbaugh on photograph",
       'questionable, 2m shark suspected',
       "according to carlsmith, the shark's mouth was 3' wide",
       'said to be a “small shark”', '"a very large shark"',
       "atkins' remains were recovered from a dusky shark, c. obscurus, by capt. w. f. young, shark fisherman",
       '"a pack of 6 sharks"',
       "2.7 m [9'] shark later captured by mitchell-hedges",
       "comrades saw shark's tail appear about 5' away",
       '15* to 24" dog shark', "15'",
       "3.7 m [12'], 1200-lb shark. shark caught & its jaw exhibited at the carnegie museum",
       "3.7 m to 4.3 m [12' to 14']  shark", "13' shark",
       "said to involve a 2.7 m [9'] shark",
       'a 20\' shark known as "old tom"',
       '2.8 m [9\'3"] whaler shark captured 3 days later with his remains in its gut',
       'c. macrurus captured 48 hours after attack with tissue removed from man in its gut; species identified by g.p. whitley,  reported as c. obscurus by  r. steel',
       "5.5' to 6' shark", '18-foot shark',
       'remains recovered from 3 sharks', 'allegedly a 33-foot shark',
       'shark involvement probable', 'remains recovered 5 days later',
       'fishermen recovered partial remains from shark a week later',
       "1.8 m to 2.7 m [6' to 9'] shark", '70 kg shark', '13\'10" shark',
       "shovelnose shark, 5'", "16' shark", '5\'7" shark',
       '5m, 3500 kg female shark',
       'unknown, but the shark was caught and put on exhibition',
       "4.7 m [15.5'] shark",
       'shark was said to “have a very rough ½”-thick skin”',
       "3 m [10'] sharks", 'said to involve 2 sharks',
       'a school of sharks', ' a small shark', '68" shark', 'wobbegongs',

In [984]:
df["Species"].value_counts()

Species
white shark                        742
tiger shark                        372
bull shark                         239
blacktip shark                     133
nurse shark                        111
                                  ...
broze whaler?                        1
60 cm to 90 cm [2' to 3'] shark      1
2.1 to 2.4 m [7' to 8'] shark        1
1.2 m to 1.8 m [4' to 6'] shark      1
"a black-tipped shark"               1
Name: count, Length: 633, dtype: int64

In [985]:
# Define the list of standardized species names
standard_species = [
    "blacktip shark",
    "copper shark",
    "bull shark",
    "white shark",
    "caribbean reef shark",
    "galapagos shark",
    "lemon shark",
    "mako shark",
    "nurse shark",
    "oceanic whitetip shark",
    "whitetip reef shark",
    "raggedtooth shark (sand tiger shark)",
    "sandbar shark",
    "broadnose sevengill shark",
    "tiger shark",
    "hammerhead shark",
    "spinner shark",
    "thresher shark",
    "blue shark"
]

# Filter rows where "Species" is NOT in the standardized list
filtered_df_not_standardized_species = df[~df["Species"].str.lower().isin([s.lower() for s in standard_species])]

# Show the unique non-standardized species values
unique_non_standard_species = filtered_df_not_standardized_species["Species"].dropna().unique()

# Print the result
print(sorted(unique_non_standard_species))

[' ', '  ', ' "gummy" shark (rhizoprionodon or loxodon) 1.2 m [4\']', " 1.5 m [5'] dusky shark", " 6' to 8' shark", ' a small shark', ' reef shark, 1.8m', ' wobbegong shark, 1.6 to 1.8m ', '"a 2\' (0.6 m) brown shark"', '"a black-tipped shark"', '"a dog shark"', '"a large shark"', '"a little shark"', '"a long thin brown-colored shark"', '"a pack of 6 sharks"', '"a pack of sharks"', '"a school of sharks"', '"a small shark"', '"a very large shark"', '"a young shark"', '"attacked by a number of sharks"', '"black tipped" shark', '"dog shark"', '"gray shark"', '"grey shark"', '"grey-colored shark"', '"juvenile shark"', '"reef shark"', '"sand shark"', '"sand" shark', '"sandshark"', '"shark caught later"', '"shark had a very large girth"', '"small brown-colored shark"', '"small shark"', '"small sharks"', '"the fish was harpooned, dried, and presented to the sailor, who went round europe exhibiting it  it was said to be 20 feet long.', "+3' shark", '.5 m shark', "0.7 m [2.5'] sand shark", "0.7 m [2.5'] shark", "0.9 m  [3'] shark", "0.9 m  to 1.2 m [3' to 4'] shark", "0.9 m [3']  shark", "0.9 m [3'] shark", "0.9 m to 1.2 m [3' to 4'] shark", "0.9 m to 1.2 m [3' to 4'] shark; tooth fragment recovered from hand", "0.9 m to 1.5 m [3' to 5'] shark", '1 m  shark', '1 m "grey-colored" shark', '1 m shark', "1' to 2' shark", "1' to 4' shark", '1+ m shark', '1,100-lb shark', "1.2 m  [4'] shark", '1.2 m [4\'] "grey-colored shark"', "1.2 m [4'] dusky shark", "1.2 m [4'] shark", "1.2 m [4'], possibly  larger shark", "1.2 m to 1.5 m [4' to 5']   shark", '1.2 m to 1.5 m [4\' to 5\'] "reef shark"', "1.2 m to 1.5 m [4' to 5'] shark", "1.2 m to 1.5 m [4.5' to 5'] shark", "1.2 m to 1.8 m [4' to 6'] shark", "1.2 m to 1.8 m [4' to 6'] shark observed in area", '1.3 m [4\'3"] shark', '1.3 to 1.6 m shark', '1.3m shark', "1.4 m [4.5'] shark", "1.5 m [5']  shark", '1.5 m [5\'] "whaler shark"', "1.5 m [5'] dusky shark", "1.5 m [5'] shark", '1.5 m grey reef shark', '1.5 m shark', "1.5 m to 1.8 m  [5' to 6'] shark", "1.5 m to 1.8 m [5' to 6'] shark", "1.5 m to 1.8 m [5' to 6'] sharks", "1.5 m to 1.8 m [5' to 6'] zambesi shark", "1.5 m to 1.8 m [5' to 6'] “spear-eye” shark ", "1.5 m to 1.8m [5' to 6'] shark", "1.5 m to 2 m [5' to 6.75'] shark", '1.5 m to 2 m shark', "1.5 m to 2.1 m  [5' to 7'] shark", '1.5 m, 45-kg shark', "1.5 to 1.8 m [5' to 6'] shark", "1.5 to 2 m [5' to 6.75'] shark", '1.5 to 2 m shark', "1.5' to 2' shark", '1.6 m shark', "1.7 m [5.5'] shark", '1.7 m shark', "1.8 m [6']  shark", '1.8 m [6\'] "cocktail shark', "1.8 m [6'] carpet shark", "1.8 m [6'] dogfish", "1.8 m [6'] grey reef shark", "1.8 m [6'] grey-colored shark", "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark", "1.8 m [6'] shark", "1.8 m [6'] shark ", "1.8 m [6'] shark, species identity questionable", "1.8 m [6'] zambezi shark", "1.8 m [6'], 136-kg [300-lb] shark ", "1.8 m [6'], 180-lb shark", '1.8 m grey shark', '1.8 m shark', '1.8 m silky shark', '1.8 m to 2 m [6\' to 6\'9"] shark', "1.8 m to 2.1 m [6' to 7'] shark", "1.8 m to 2.4 m  [6' to 8'] shark", '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"', "1.8 m to 2.4 m [6' to 8'] shark", "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ", "1.8 m to 2.7 m [6' to 9'] shark", '1.8 metre shark', '1.8 to 2 m c. albimarginatus', "1.8 to 2.1 m [6' to 7'] shark", "1.8 to 2.4 m [6' to 8'] shark", "10' shark", "10' to 12' shark", '100-lb shark', "106 cm [3.5']  shark", "12' shark", "12' to 14' shark", "12' to 18' shark", "13' shark", '13\'10" shark', '136-kg [300-lb] shark', "14' shark", "14' to 18'shark", '15 cm to 20 cm [6" to 8"] bite diameter just below left knee', "15'", "15' shark", '15* to 24" dog shark', '150-lb shark', "16' 800-lb shark", "16' shark", '170-kg, 2.8 m shark', '18" - 23" horn shark', '18" to 24" shark', '18" to 36" shark', "18' shark", '18-foot shark', '193-lb shark', '1m shark', '1m shark species unknown', '1m to 1.2 m shark', '2 days later a 600-lb shark was caught 100 yards from the site', '2 m  "yellow belly" captive shark. shark destroyed by aquarium staff next day', '2 m [6\'9"] shark', '2 m [6\'9"] shark ', '2 m [6\'9"] zambesi shark', '2 m [6\'9"], 87.5-kg [193-lb]  shark', "2 m [6.75'] shark", "2 m [6.75'] shark, 200-kg shark t", '2 m cow shark', '2 m shark', '2 m to  3 m shark', "2 m to 2.5 m [6.75'  to 8.25'] shark", '2 m to 2.5 m shark', '2 m to 3 m shark', '2 sharks', '2 sharks involved', '2 sharks, 4.5 m & 3 m ', '2 to 2.5 m shark', '2 to 3 m shark', "2'  shark", '2\' "banjo shark"', "2' shark", "2' to 3' juvenile shark", "2' to 3' reef shark", "2' to 3' shark", "2' to 3.5' shark", "2.1 m [7'] shark", '2.1 m [7\'] shark with "a very flat head” that had followed the boat for 3 days', "2.1 m [7'], 140-lb reef shark", "2.1 m to 2.4 m  [7' to 8'] shark", "2.1 m to 2.4 m [7' to 8'] shark", "2.1 to 2.4 m [7' to 8'] shark", '2.13 m shark', '2.2 m shark', '2.27 m shark', "2.3 m [7'] shark", "2.4 m  [8'] shark", "2.4 m [8']  shark", "2.4 m [8'] shark", "2.4 m [8'] shark, possibly a dusky shark", "2.4 m [8'] whaler shark", "2.4 m [8'], 600-lb shark", '2.4 m shark', "2.4 m to 3 m [8' to 10'] grey colored shark", "2.4 m to 3.7 m [8' to 12'] shark", "2.5 m [8.25'] shark", '2.5 m shark', '2.5 to 3 m shark', "2.5' shark", '2.5m shark', "2.6 m [8.5'] shark", "2.6 m [8.5'] shark landed 2 hours later", '2.6 m shark', "2.7 m  [9'] shark", "2.7 m [9']  shark", "2.7 m [9'] shark", "2.7 m [9'] shark later captured by mitchell-hedges", "2.7 m [9'] shark with black-tipped pectoral fins", "2.7 m [9'] silky shark", "2.7 m [9']shark", "2.7 m to 3 m [9' to 10'] sharks", '2.8 m [9\'3"] whaler shark captured 3 days later with his remains in its gut', '20 kg shark', '20 to 30kg shark', "20' shark", '200 to 300 kg shark', '200-lb shark', '234-lb shark', '24" to 30" shark', '250-lb "dog shark"', '270 kg shark', '2m shark', "3 m [10'] gaffed shark", "3 m [10'] shark", "3 m [10'] shark seen in vicinity", "3 m [10'] sharks", "3 m [10'], 270- kg [595-lb] shark", '3 m shark', "3 m to 3.7 m [10' to 12'] shark", "3 m to 4 m [10' to 13'] shark", '3 m to 4 m shark', "3 m to 4.3 m [10' to 14'] shark", '3 m, 600-kg shark', '3 sharks', "3'  shark", "3' shark", "3' small spotted catshark, scyliorhinus canicula", "3' to 3.5' shark", "3' to 4' shark", "3' to 5' shark", '3+ m shark', '3- to 4-foot shark', '3.3 m [10\'9"] shark', '3.5 m [11\'6"] shark captured', "3.5 m [11.5'] shark", "3.5 m [11.5']shark", '3.5 m shark', '3.5 to 4 m shark', "3.5' to 4' shark", "3.5' to 4.5' shark", '3.6 m  porbeagle shark', "3.7 [12'] shark", "3.7 m [12'] shark", "3.7 m [12'] shark ", "3.7 m [12'] shark & may have been another shark nearby", "3.7 m [12'] sharks", "3.7 m [12'], 1200-lb shark. shark caught & its jaw exhibited at the carnegie museum", "3.7 m to 4.3 m [12' to 14']  shark", "3.7 m to 4.3 m [12' to 14'] shark", "3.7 m to 4.6 m [12' to 15'] shark", "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity", "3.7 to 4.5 m [12' to 15'] shark seen in vicinity", '30-kg [66-lb] shark', '300- to 400-lb zambesi shark', '300-kg [662-lb] shark', '36"  shark', '3m shark', '3m shark, probably a smooth hound', "4 m [13'] shark", "4 m [13'] shark seen in vicinity", "4 m [13'] shark x 6", '4 m shark', '4\' "ground shark"', "4' shark", "4' shark?", "4' to 5' shark", "4' to 6' shark", "4' to 8' shark", "4' tp 5' shark", "4.3 m [14'] shark", "4.3 m [14'] shark seen in area previous week", "4.3 m [14'] shark seen in vicinity", "4.3 m [14'], 1000-lb shark", '4.3 m shark', "4.4 m [14'] shark", '4.5  m [14\'9"] shark', '4.5 m shark', "4.5 to 5' shark", "4.5' shark", "4.5' to 5' shark", "4.6 m [15'] shark", "4.7 m [15.5'] shark", "4.9 m [16'] shark", "4.9 m [16'] whaler", "4.9 m [16']shark", '40 to 50 sharks attacked survivors in the water', '40-lb sand shark', '43" shark', "4m [13'] shark", '4m shark', "5 m [16.5'] shark", '5 m shark', "5' shark", "5' to 6' shark", "5' to 7' shark", "5' to 8' shark", '5\'7" shark', "5'shark", '5.5 ft shark', "5.5 m [18'] shark", "5.5' shark", "5.5' to 6' shark", '500-lb shark', '5m shark', '5m to 6m shark', '5m, 3500 kg female shark', '6 ft shark', "6 m [20']  shark", "6 m [20'] shark", '6 m shark', '6 m, 600-kg shark', "6' shark", "6' to 7' shark", "6' to 8' shark", "6', 100-lb shark", "6.5' shark", '60 cm  shark ', "60 cm [2'] captive shark", '60 cm [23.6"] blind or brown shark', "60 cm to 90 cm [2' to 3'] shark", '650-lb shark', '68" shark', '6ft shark', "7 shark's teeth found embedded in the woodwork of the boat", "7' female shark", "7' shark", "7' silvertip shark", "7' to 8' shark", "7' to 8' shark ", "7.5' shark", '70 kg shark', "76 cm [2.5'] carpet shark", '8 ft shark', '8 sharks', '8" shark', "8' shark", "8' to 10' shark", '8-lb shark', '80 kg shark', '80-lb hooked shark', '80-lb sand shark', "9' shark", '9-foot shark', "9.5' shark?", '90-kg "blackfin" shark', '<1 m shark', '<1.5 m shark', '> 3 m shark', '>1 m shark', '>1.6 m shark', ">1.8 m [6'] shark", '>2 m shark', ">2.4 m [8'] shark", ">3 m [10'] shark", ">6.7 m [22']  shark", "[4' to 5']", "[4.5' to 5'] shark", 'a "small shark"', 'a "small slim brown shark"', "a 2' shark was seen in the area by witnesses", 'a 20\' shark known as "old tom"', 'a pack of 6 sharks', 'a sand shark', 'a school of sharks', 'a small reef shark', 'a small shark', "a small shark'", 'a “small” shark', 'according to benjamin, the injury was inflicted by a barracuda, not a shark', "according to carlsmith, the shark's mouth was 3' wide", 'allegedly a 33-foot shark', 'angel shark', 'angel shark, 1.2m ', "atkins' remains were recovered from a dusky shark, c. obscurus, by capt. w. f. young, shark fisherman", 'authorities report injury caused bya barracuda', 'basking shark', "bitten by several 1.8 m [6'] sharks", 'blacktail reef shark', 'bonita sharkk, 200-lb', 'broze whaler?', 'bu.ll', 'c. leucas tooth fragment recovered from kayak', 'c. macrurus captured 48 hours after attack with tissue removed from man in its gut; species identified by g.p. whitley,  reported as c. obscurus by  r. steel', 'c. maculpinnis or c. limbatus', 'carpet shark', "carpet shark, 1.5 m [5']", "carpet shark, 10' ", "carpet shark, 5' ", 'carribean reef shark 7ft', "comrades saw shark's tail appear about 5' away", 'considered a "doubtful" incident', 'cookiecutter shark', 'cookiecutter sharks', 'cow shark', 'described as a large terrifying animal', 'description of shark does not ring true', 'dogfish', 'dogfish shark', 'dooley believed his injury was caused by stingray (dasyatidae family)', 'doubtful / unconfirmed attack / unable to verify in local records', 'dusky shark, 1 m ', "dusky shark, 12' ", "dusky shark, 2.7 m [9'] dusky shark c. obscurus identified by s. springer on tooth recovered", 'dusky shark, 2m', 'epaulette shark', 'fishermen recovered partial remains from shark a week later', 'goblin shark', "goblin shark, 4.2'", 'gray reef shark', 'grey reef shark', 'grey reef shark ', 'grey reef shark 1.5m', "grey reef shark, 1.2 m [4'] ", 'grey reef shark, 1.5 m ', "grey reef shark, 1.8 m [6'] grey reef shark, identified by dr. l.p. l. schultz based on photographs; identified as c. melanopterus by stewart", 'grey reef shark, 2 m', "grey reef shark, 2 m [6.75'] ", "grey reef shark, 4' ", "grey reef shark, 5' to 8' ", 'grey reef shark. 2 m', "horn shar,k heterodontus francisci, 1.2 m [4'] ", 'identified as c. gangeticus by dr. j. fayrer', 'injuries not caused by a shark', 'injury believed caused by an eel, not a shark', 'injury most likely caused by barracuda, not a shark', 'invalid', 'invalid incident', 'juvenile dusky shark', 'juvenile shark', 'large shark', 'leopard shark', "leopard shark, 3' triakis semifasciata, identified by j.w. dewitt (1955)", "less than 1.2 m [4']", 'lesser spotted dogfish, scyliorhinus canicula, less than 80 cm in length', "moreno’s leg  & part of his swim suit found in 9' shark caught two hours after the attack. identified as carcharhinid shark by l. schultz & c. limbaugh on photograph", 'most likely, a small shark', "next morning a 3 m [10'] shark was caught that had andrews' leg in its gut", 'no shark involvement', 'no shark invovlement ', 'no shark invovlement - it ws a publicity stunt', 'not a shark attack; it was a hoax', 'not authenticated', 'not specified', 'not stated', 'not stated ', 'on 8/13/2005 anglers from new zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. it was believed this was the same shark that killed alysha', 'porbeagle shark', "porbeagle shark, 3 m [10']rk", "porbeagle shark, 7'", "porbeagle shark, 8' ", 'porbeagle, 1.5 m', 'port jackson shark, 1m', "possibly a  1.8 m [6'] zambezi shark", 'possibly a sand shark', 'possibly a wobbegong', 'possibly c. leucas', 'questionable', 'questionable incident', 'questionable incident - shark bite may have precipitated drowning', "questionable incident, said to involve a 6' shark", 'questionable incident; reported as shark attack but thought to involve a pinniped instead ', 'questionable, 2m shark suspected', 'reef shark', 'reef shark 6ft (1.8m)', 'reef shark x 2', 'reef shark, ', 'reef shark, 1.5m', 'reef shark, 1m', "reef shark, 5'", "reef shark, 5' to 6 '", 'reef shark?', 'remains recovered 5 days later', 'remains recovered from 3 sharks', 'remains recovered from shark caught days later', 'reported as  a shark bite but toothmarks appear to be those of a dolphin ', 'reported as a shark attack, the story was a hoax', 'reported as shark attacks but injuries caused by toadfish', 'reported as shark bite but injury caused by stingray', 'reported by media as shark attack, but shark involvement prior to death was not confirmed', "said to be 6.4 m [21'] shark", "said to be a 7.6 m [25'] shark", 'said to be a “small shark”', 'said to involve 2 sharks', "said to involve 2 sharks: 5.2 m & 6 m [17' & 20'] ", 'said to involve a 1.5 m shark', "said to involve a 2.7 m [9'] shark", 'said to involve a 4.9 m [16\'] "red shark"', "said to involve a 6 m to 7.3 m [20' to 24'] shark", "said to involve a 6.5 m [21.5'] shark", "said to involve a >4 m [13'] shark", "said to involve an 8' shark but more likely damage caused by debris", 'salmon shark', 'salmon shark suspected, but unlikely', 'salmon shark, juvenile', 'sand shark', 'sand shark?', 'seven-gill shark', 'several sharks involved', 'shark involment not confirmed', 'shark involvement  not confirmed', 'shark involvement  questionable', 'shark involvement doubtful', 'shark involvement highly doubtful', 'shark involvement not cofirmed', 'shark involvement not confirmed', 'shark involvement not confirmed & highly unlikely', 'shark involvement not confirmed, injury may be due to a stingray', 'shark involvement not confirmed; officials considered barracua', 'shark involvement not confirmed; thought to be a barracuda bite', 'shark involvement not confirmes', 'shark involvement prior to death could not be determined', 'shark involvement prior to death not confirmed', 'shark involvement prior to death remains unconfirmed', 'shark involvement prior to death still to be determined', 'shark involvement prior to death suspected but not confirmed', 'shark involvement prior to death unconfired', 'shark involvement prior to death unconfirmed', 'shark involvement prior to death was not confirmed', 'shark involvement prior to deaths unconfirmed', 'shark involvement prior to deaths was not confirmed', 'shark involvement probable', 'shark involvement probable, but not confirmed', 'shark involvement questionable', 'shark involvement suspected but not confirmed', 'shark involvement unconfirmed', 'shark involvement unconfirmed but considered probable', 'shark pup', 'shark seen feeding on turtle scraps thrown overboard prior to incident.', 'shark was said to “have a very rough ½”-thick skin”', "sharks averaged 1.8 m [6'] in length", 'shovelnose "shark" which is a ray, not a shark)', 'shovelnose guitarfish, adult male ', "shovelnose shark, 5'", "shovelnose shark, 6 m [20'] ", "silky shark, 1.9 m [6.5']", "silky shark, 6.5'", 'silvertip shark', "six zambesi sharks seen to 1.5 m [5'] in length", 'small carpet shark', 'small catsharks', 'small dusky shark or blackfin shark', 'small shark', 'small sharks', "small sharks'", 'soupfin shark', 'species unidentified', 'spurdog', 'starry smoothhound shark, 1m', "thought to involve a 3' to 4' shark, but shark involvement not confirmed", 'thought to involve a cookiecutter shark', 'thought to involve a small sand shark', 'thought to involve a zambesi shark', 'tooth fragments recovered from hull', "tope shark, 6'", "two 1.2 m to 1.5 m [4' to 5'] sharks", "two 2.1 m [7'] sharks", "two shark's teeth recovered from canoe", "two sharks seen in vicinity: 2.4 m & 4.25 m  [8' & 14'] tl", 'undetermined small shall shark', 'unidentified', 'unidentified shark', 'unidentified species', 'unknown', 'unknown ', 'unknown, but it was reported that a shark tooth was recovered from the wound', 'unknown, but the shark was caught and put on exhibition', 'wfite shark', 'whale shark', 'whaler shark', "whaler shark, 2.7 m [9'], 350- to 450-lb  identified by g.p. whitley", "whaler shark, 4 m [13'] ", 'while shark', 'whtietip reef shark', 'wobbegong', 'wobbegong shark', 'wobbegong shark ', 'wobbegong shark, 1 m', "wobbegong shark, 1.2 m [4'] ", "wobbegong shark, 1.2 m [4'] k", 'wobbegong shark, 1.4 m [4\'6"] ', "wobbegong shark, 1.4 m [4.6'] ", "wobbegong shark, 1.5 m [5'] ", 'wobbegong shark, 1.6m', "wobbegong shark, 1.8 m [6'] ", 'wobbegong shark, 1m', 'wobbegong shark, 2 m ', 'wobbegong shark, 2m', "wobbegong shark, 3' ", "wobbegong shark, 4'", "wobbegong shark, 4' ", "wobbegong shark, 5' ", "wobbegong shark, 6'", 'wobbegong shark, 60cm', "wobbegong shark, o. barbatus,  1.8 m [6'], identified by g.p. whitley", 'wobbegong shark?', 'wobbegong, 2m', 'wobbegongs', 'zambesi shark', "zambesi shark, 1.2 m [4'] ", "zambesi shark, 1.7 m [5.5'] ", "zambesi shark, 1.8 m [6'] ", 'zambesi shark, 2 m [6\'9"] ', 'zambesi shark, 2m ', 'zambesi shark, 4\'9"', 'zambesi shark?', 'zambezi shark (tooth fragments recovered)', '\xa0 ', '“small brown shark”']

# Standardization of species names
After analyzing the values for unique_non_standard_species listed above, we come to the conclusion that there are no further possibilities to create new species names to replace existing unique values with species that are statistically relevant. All remaining values are either not specific enough to be attributable to a single species (e.g. "reef shark") or have values that, in sum, are below 5 (e.g. "dog shark" with the 4 values "a dog shark", "dog shark", "250-lb 'dog shark'" and "1.8 m [6'] dogfish". We deem then thus irrelevant for the purpose of our analysis.

# List of 19 shark species with standardized values in our dataframe and their scientific names
### They have been added as values to the dataset and replace functions have been applied.
1. Blacktip shark: I considered these to be the same species: Blacktip Shark – Carcharhinus limbatus AND Blacktip Reef Shark – Carcharhinus melanopterus
2. Copper shark: Bronze Whaler (Copper Shark) – Carcharhinus brachyurus
3. Bull Shark: Carcharhinus leucas
4. White shark: Great White Shark (White Shark) – Carcharodon carcharias
5. Caribbean reef shark: Carcharhinus perezi
6. Galapagos shark: Carcharhinus galapagensis
7. Lemon shark: Negaprion brevirostris
8. Mako shark: These are the same species (same latin name): shortfin mako sark AND mako shark. Mako Shark (Shortfin) – Isurus oxyrinchus
9. Nurse shark: Ginglymostoma cirratum
10. Oceanic Whitetip Shark: Carcharhinus longimanus. There is only 1 value (row 413, 17-Sep-2020, of "whitetip shark"). Not clear whether oceanic whitetip shark or whitetip reef shark. Therefore, this row must be ###DELETED### after replacing all species of this list.
11. Whitetip reef shark: Triaenodon obesus
12. Raggedtooth shark (sand tiger shark): Carcharias taurus. If someone says "ragged-tooth shark," they most likely mean Carcharias taurus, the sand tiger shark. Note: Smalltooth sand tiger / Bumpytail ragged-tooth — Odontaspis ferox. This is a different species in the same family (Odontaspididae), but it's much rarer and less studied. There are no instances of "smalltooth" or "bumpy" in the dataset.
13. Sandbar shark: Carcharhinus plumbeus
14. Broadnose sevengill shark: (Notorynchus cepedianus). Also some instances of "7-gill" (sevengill) in our dataframe found and replaced.
15. Tiger shark: Galeocerdo cuvier
16. Hammerhead shark: They belong to the family Sphyrnidae, and there are multiple species. In our df they are considered as one species.
17. Spinner shark: Carcharhinus brevipinna
18. Thresher shark: Thresher sharks are large mackerel sharks of the family Alopiidae found in all temperate and tropical oceans of the world; the family contains three extant species. In our df they are considered as one species.
19. Blue shark: Prionace glauca, also known as the great blue shark, is a species of requiem shark.

In [987]:
filtered_df_not_standardized_species = df[df["Species"].str.contains("bull", case=False, na=False)]
print(filtered_df_not_standardized_species)

            Date        Type           Country Sex     Species
2     2025-03-07  Unprovoked         Australia  F   bull shark
8     2025-02-10  Unprovoked           Bahamas   F  bull shark
9     2025-02-10  Unprovoked           Bahamas   F  bull shark
10    2025-02-07  Unprovoked  Turks and Caicos   F  bull shark
11    2025-02-03  Unprovoked         Australia   F  bull shark
...          ...         ...               ...  ..         ...
6932         NaT  Unprovoked              IRAN   M  bull shark
6949         NaT  Unprovoked              IRAQ   M  bull shark
6950         NaT  Unprovoked              IRAQ   M  bull shark
6960         NaT  Unprovoked         NICARAGUA   M  bull shark
6972         NaT  Unprovoked              IRAQ   M  bull shark

[239 rows x 5 columns]

In [988]:
df

            Date          Type             Country Sex      Species
0     2025-03-26    Unprovoked           Australia   M  tiger shark
1     2025-03-10    Unprovoked           Australia   M  white shark
2     2025-03-07    Unprovoked           Australia  F    bull shark
3     2025-02-27    Unprovoked           Australia   M   not stated
4     2025-02-27  Questionable         Philippines   M  not stated
...          ...           ...                 ...  ..          ...
7004         NaT    Unprovoked           AUSTRALIA   M          NaN
7005         NaT    Unprovoked           AUSTRALIA   M          NaN
7006         NaT    Unprovoked                 USA   M          NaN
7007         NaT    Unprovoked              PANAMA   M          NaN
7008         NaT    Unprovoked  CEYLON (SRI LANKA)   M          NaN

[7009 rows x 5 columns]

In [989]:
# Save the cleaned DataFrame back to CSV
df.to_csv("cleaned_file.csv", index=False)

# Display updated DataFrame
print(df.head())

         Date          Type      Country Sex      Species
0  2025-03-26    Unprovoked    Australia   M  tiger shark
1  2025-03-10    Unprovoked    Australia   M  white shark
2  2025-03-07    Unprovoked    Australia  F    bull shark
3  2025-02-27    Unprovoked    Australia   M   not stated
4  2025-02-27  Questionable  Philippines   M  not stated

In [990]:
# Replace non-standardized species with "other/unclear"
df["Species"] = df["Species"].apply(lambda x: "other/unclear" if str(x).lower() not in standard_species else x)

In [991]:
df

            Date          Type             Country Sex        Species
0     2025-03-26    Unprovoked           Australia   M    tiger shark
1     2025-03-10    Unprovoked           Australia   M    white shark
2     2025-03-07    Unprovoked           Australia  F      bull shark
3     2025-02-27    Unprovoked           Australia   M  other/unclear
4     2025-02-27  Questionable         Philippines   M  other/unclear
...          ...           ...                 ...  ..            ...
7004         NaT    Unprovoked           AUSTRALIA   M  other/unclear
7005         NaT    Unprovoked           AUSTRALIA   M  other/unclear
7006         NaT    Unprovoked                 USA   M  other/unclear
7007         NaT    Unprovoked              PANAMA   M  other/unclear
7008         NaT    Unprovoked  CEYLON (SRI LANKA)   M  other/unclear

[7009 rows x 5 columns]

In [992]:
# Keep only rows where Species is NOT "other/unclear"
df = df.drop(df[df["Species"] == "other/unclear"].index)

df

            Date          Type    Country Sex      Species
0     2025-03-26    Unprovoked  Australia   M  tiger shark
1     2025-03-10    Unprovoked  Australia   M  white shark
2     2025-03-07    Unprovoked  Australia  F    bull shark
6     2025-02-22  Questionable  Australia   M   mako shark
8     2025-02-10    Unprovoked    Bahamas   F   bull shark
...          ...           ...        ...  ..          ...
6983         NaT    Unprovoked     BELIZE   M  tiger shark
7000         NaT    Unprovoked  AUSTRALIA   M   blue shark
7001         NaT    Unprovoked  AUSTRALIA   M   blue shark
7002         NaT    Unprovoked  AUSTRALIA   M   blue shark
7003         NaT    Unprovoked  AUSTRALIA   M  nurse shark

[1979 rows x 5 columns]

In [993]:
# Remove rows where NaT (not a time) appears
df_cleaned_date_null_values = df.dropna(subset=["Date"])

print(df_cleaned_date_null_values)

            Date          Type       Country  Sex      Species
0     2025-03-26    Unprovoked     Australia    M  tiger shark
1     2025-03-10    Unprovoked     Australia    M  white shark
2     2025-03-07    Unprovoked     Australia   F    bull shark
6     2025-02-22  Questionable     Australia    M   mako shark
8     2025-02-10    Unprovoked       Bahamas    F   bull shark
...          ...           ...           ...  ...          ...
6706  1853-09-28    Unprovoked           USA    M  white shark
6720  1852-02-26  Sea Disaster  SOUTH AFRICA    M  white shark
6817  1812-05-01    Unprovoked       ENGLAND    M   mako shark
6844  1776-01-01    Watercraft     GREENLAND  NaN  white shark
6858  1721-06-01    Unprovoked         ITALY    M  white shark

[1834 rows x 5 columns]

In [994]:
df = df_cleaned_date_null_values

In [995]:
df.drop_duplicates(inplace=True)

C:\Users\aican\AppData\Local\Temp\ipykernel_27104\3006716147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [996]:
df.drop_duplicates(subset=['Date','Type','Country','Sex','Species'])

            Date          Type       Country  Sex      Species
0     2025-03-26    Unprovoked     Australia    M  tiger shark
1     2025-03-10    Unprovoked     Australia    M  white shark
2     2025-03-07    Unprovoked     Australia   F    bull shark
6     2025-02-22  Questionable     Australia    M   mako shark
8     2025-02-10    Unprovoked       Bahamas    F   bull shark
...          ...           ...           ...  ...          ...
6706  1853-09-28    Unprovoked           USA    M  white shark
6720  1852-02-26  Sea Disaster  SOUTH AFRICA    M  white shark
6817  1812-05-01    Unprovoked       ENGLAND    M   mako shark
6844  1776-01-01    Watercraft     GREENLAND  NaN  white shark
6858  1721-06-01    Unprovoked         ITALY    M  white shark

[1797 rows x 5 columns]

In [1077]:
df["Species"].value_counts()

Species
white shark                  683
tiger shark                  336
bull shark                   216
blacktip shark               120
nurse shark                   97
copper shark                  79
mako shark                    56
blue shark                    51
lemon shark                   41
hammerhead shark              41
spinner shark                 23
broadnose sevengill shark     18
caribbean reef shark          18
galapagos shark                8
sandbar shark                  6
thresher shark                 4
Name: count, dtype: int64

In [1083]:
df["Type"].unique()

array(['Unprovoked', 'Questionable', ' Provoked', 'Provoked',
       'Watercraft', nan, 'Invalid', 'Sea Disaster', 'Boat'], dtype=object)

In [1085]:
df["Country"].unique()

array(['Australia', 'Bahamas', 'Turks and Caicos', 'New Caledonia',
       'Egypt', 'New Zealand', 'USA', 'Honduras', 'Indonesia', 'Morocco',
       'Jamaica', 'Tobago', 'AUSTRALIA', 'INDIA', 'TRINIDAD',
       'SOUTH AFRICA', 'MEXICO', 'NEW ZEALAND', 'BELIZE', 'EGYPT',
       'SPAIN', 'PORTUGAL', 'COLOMBIA', 'BAHAMAS', 'TURKS and CaICOS',
       'CUBA', 'SEYCHELLES', 'NEW CALEDONIA', 'Maldives', 'South Africa',
       'ENGLAND', 'JAMAICA', 'FRENCH POLYNESIA', 'COLUMBIA', 'COSTA RICA',
       'THAILAND', 'ECUADOR', 'ST MARTIN', 'REUNION ISLAND', 'FIJI',
       'BRAZIL', 'CHINA', 'IRELAND', 'MALDIVES', 'MALAYSIA', 'REUNION',
       'INDONESIA', 'UNITED ARAB EMIRATES', 'ATLANTIC OCEAN', 'FRANCE',
       'TONGA', 'ITALY', 'TAIWAN', 'PAPUA NEW GUINEA', 'GUAM', 'CROATIA',
       'GRAND CAYMAN', 'SOUTH KOREA', 'RUSSIA', 'JAPAN', 'URUGUAY',
       'VENEZUELA', 'PANAMA', 'PHILIPPINES', 'MICRONESIA',
       'TURKS & CAICOS', 'UNITED KINGDOM', 'CARIBBEAN SEA', 'OKINAWA',
       'MAURITIUS', 'EGYPT / ISRAEL', 'HONG KONG', 'CHILE', 'EL SALVADOR',
       'Fiji', 'IRAN', 'BERMUDA', 'ISRAEL', 'PALAU', 'WESTERN SAMOA',
       'MOZAMBIQUE', nan, 'NEW BRITAIN', 'FEDERATED STATES OF MICRONESIA',
       'GREECE', 'BRITISH WEST INDIES', 'MID ATLANTIC OCEAN',
       'NEW GUINEA', 'TURKEY', 'AMERICAN SAMOA',
       'ANDAMAN / NICOBAR ISLANDAS', 'MARSHALL ISLANDS', 'SENEGAL',
       'MAYOTTE', 'MALTA', 'NORTH PACIFIC OCEAN', 'MONTENEGRO',
       'ARGENTINA', 'MARTINIQUE', 'CANADA', 'NETHERLANDS ANTILLES',
       'SRI LANKA', 'IRAQ', 'NICARAGUA', 'SOUTHWEST PACIFIC OCEAN',
       'SOUTH ATLANTIC OCEAN', 'CURACAO', 'SAN DOMINGO', 'GREENLAND'],
      dtype=object)

In [1087]:
df["Sex"].unique()

array(['M', 'F ', 'F', nan, 'M ', 'lli', 'N'], dtype=object)